<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%- VITE_APP_TITLE %></title>
    <meta name="description" content="这是一个仿照明日方舟游戏大厅的网页，使用 Vue 构建。" />
    <meta name="keywords" content="arknights, 明日方舟, 网页复刻" />
    <meta name="author" content="柃夏chapu" />

    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://arknights.lxchapu.com/" />
    <meta property="og:title" content="<%- VITE_APP_TITLE %>" />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://arknights.lxchapu.com/" />
    <meta property="twitter:title" content="<%- VITE_APP_TITLE %>" />

    <% if (PROD) { %>
    <script
      defer
      src="https://umami.lxchapu.com/script.js"
      data-website-id="37577d8b-90b0-4b0e-a883-9d1713664321"
    ></script>
    <% } %>
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
