@font-face {
  font-family: 'Bender';
  src: url('../assets/fonts/Bender.otf');
}
@font-face {
  font-family: 'Bender';
  src: url('../assets/fonts/Bender-Light.otf');
  font-weight: 300;
}
@font-face {
  font-family: 'FZSong';
  src: url('../assets/fonts/FZTYSJW.ttf');
}
@font-face {
  font-family: 'NovecentoSansWide';
  src: url('../assets/fonts/NovecentoSansWide-Medium.otf');
}
@font-face {
  font-family: 'NovecentoSansWide';
  src: url('../assets/fonts/NovecentoSansWide-Bold.otf');
  font-weight: 700;
}
@font-face {
  font-family: 'NovecentoSansWide';
  src: url('../assets/fonts/NovecentoSansWide-Normal.otf');
  font-weight: 300;
}
@font-face {
  font-family: 'SourceHanSans';
  src: url('../assets/fonts/SourceHanSansCN-Regular.otf');
}
@font-face {
  font-family: 'SourceHanSans';
  src: url('../assets/fonts/SourceHanSansCN-Light.otf');
  font-weight: 300;
}
